/* VARIABLES */
:root {
  --clr-bg: #faf0e6;
  --clr-main: #fdc1df;
  --clr-accent: #d8571f;
  --clr-main-dark: #521131;
  --clr-font: #333;
  --clr-font-light: #999;
  --clr-bg-transparent: rgba(255, 255, 255, 0.5);

  --bdr-radius: 5px;
}

/* BASE STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg);
  font-family: 'Poppins', sans-serif;
  color: var(--clr-font);
}

p {
  line-height: 1.5;
}

input,
textarea {
  font-family: inherit;
}

img {
  max-width: 400px;
}

/* BACK TO TOP */
#back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--clr-accent);
  color: var(--clr-bg);
  cursor: pointer;
}
#back-to-top:hover {
  background: var(--clr-main-dark);
}

/* HEADER: LOGO and NAV */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  padding: 1rem 2rem;
  background: var(--clr-bg-transparent);
  transition: background 0.3s ease-out;
}

.mobile-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  background: var(--clr-font);
  color: var(--clr-bg);
  cursor: pointer;
}
.mobile-btn:hover {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.3);
}
.mobile-btn:active {
  transform: scale(0.95);
}
#openMobileMenuBtn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}
#closeMobileMenuBtn {
  margin-left: auto;
}

.logo {
  font-size: 2rem;
  color: var(--clr-accent);
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}
.nav a {
  color: var(--clr-main-dark);
  text-decoration: none;
}

/* LANDING */

.landing-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://images.pexels.com/photos/3147624/pexels-photo-3147624.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}
.landing-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(82, 17, 49, 0.3);
}

.hero-banner {
  z-index: 100;
  font-size: 3rem;
  font-weight: normal;
  color: var(--clr-bg);
  text-align: center;
  text-shadow: 0 0 5px var(--clr-main-dark);
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

section {
  width: 100%;
  padding: 3rem;
  scroll-margin-top: 5rem;
}
.section-wrap {
  max-width: 900px;
  margin: 0 auto;
}
.section-color {
  background-color: var(--clr-main);
}

.section__title {
  margin-bottom: 2rem;
}

.section__img {
  margin-bottom: 1rem;
}

/* PROJECTS - CARDS */

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 300px;
  background: #fff;
  border-radius: var(--bdr-radius);
  box-shadow: 2px 2px 0 var(--clr-main);
}

.card__img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1.5rem;
}

.card__link {
  margin-top: auto;
  align-self: flex-end;
}

/* ABOUT */
#about-me .section__img {
  float: left;
  padding-right: 1rem;
}

/* SKILLS */
.skill-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: var(--bdr-radius);
  background-color: #fff;
  box-shadow: 2px 2px 0 var(--clr-main);
}

.skill-box i {
  font-size: 4rem;
}

.skill-box meter {
  min-height: 2rem;
  min-width: 100%;
}
.skill-box meter::-webkit-meter-optimum-value {
  background: var(--clr-accent);
}
.skill-box meter::-moz-meter-optimum-value {
  background: var(--clr-accent);
}

.skill-box:nth-child(1) i {
  color: #f75403;
}
.skill-box:nth-child(2) i {
  color: #244bdd;
}
.skill-box:nth-child(3) i {
  color: #e8d44d;
}
.skill-box:nth-child(4) i {
  color: #5ed2f3;
}
.skill-box:nth-child(5) i {
  color: #000;
}

/* FOOTER */
footer {
  padding: 3rem;
  background-color: var(--clr-font);
  color: var(--clr-font-light);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  margin-bottom: 2rem;
}

.contact__form {
  width: 100%;
  max-width: 350px;
}

.contact__group {
  display: grid;
  grid-template-columns: 100px auto;
  margin-bottom: 1rem;
}

.contact__label {
  padding-right: 2rem;
  color: var(--clr-font-light);
  text-align: right;
}

.contact__input {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--bdr-radius);
}

.contact__group textarea {
  height: 150px;
}

.contact__btn {
  display: block;
  width: 40%;
  margin: 2rem auto;
  padding: 0.5rem;
  border: none;
  border-radius: var(--bdr-radius);
  background-color: var(--clr-main);
  cursor: pointer;
}
.contact__btn:hover {
  background-color: var(--clr-main-dark);
  color: var(--clr-main);
}
.contact__btn:active {
  transform: scale(0.9);
}

footer small {
  display: block;
  text-align: center;
}

/* Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    'one one two three three three'
    'one one two three three three'
    'one one two four four five'
    'one one two four four nine'
    'six seven seven four four nine'
    'six seven seven eight eight nine';
  gap: 1rem;
  width: 90vw;
  max-width: 1000px;
  height: 90vw;
  max-height: 800px;
  margin: 10rem auto 4rem;
  background: var(--clr-main-dark);
}
.gallery-img {
  background: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--clr-bg);
}
.gallery-img:nth-child(1) {
  grid-area: one;
  background-image: url('https://images.pexels.com/photos/6590699/pexels-photo-6590699.jpeg');
}
.gallery-img:nth-child(2) {
  grid-area: two;
  background-image: url('https://images.pexels.com/photos/12879014/pexels-photo-12879014.jpeg');
}
.gallery-img:nth-child(3) {
  grid-area: three;
  background-image: url('https://images.pexels.com/photos/13284758/pexels-photo-13284758.jpeg');
}
.gallery-img:nth-child(4) {
  grid-area: four;
  background-image: url('https://images.pexels.com/photos/16776159/pexels-photo-16776159/free-photo-of-water-around-rocks-on-shore.jpeg');
}
.gallery-img:nth-child(5) {
  grid-area: five;
  background-image: url('https://images.pexels.com/photos/17038848/pexels-photo-17038848/free-photo-of-river-flowing-in-green-valley.jpeg');
}
.gallery-img:nth-child(6) {
  grid-area: six;
  background-image: url('https://images.pexels.com/photos/16948299/pexels-photo-16948299/free-photo-of-close-up-of-pink-flowers.jpeg');
}
.gallery-img:nth-child(7) {
  grid-area: seven;
  background-image: url('https://images.pexels.com/photos/17676464/pexels-photo-17676464/free-photo-of-a-house-on-a-hill-between-trees-in-the-countryside.jpeg');
}
.gallery-img:nth-child(8) {
  grid-area: eight;
  background-image: url('https://images.pexels.com/photos/3225517/pexels-photo-3225517.jpeg');
}
.gallery-img:nth-child(9) {
  grid-area: nine;
  background-image: url('https://images.pexels.com/photos/1770809/pexels-photo-1770809.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.back-home {
  display: block;
  margin: 2rem;
  text-decoration: none;
}

@media screen and (min-width: 400px) {
  .cards {
    flex-flow: row wrap;
    align-items: stretch;
  }
}

@media screen and (max-width: 600px) {
  header {
    right: 0;
    left: auto;
    display: none;
    width: 80%;
    padding: 1rem 1rem 3rem;
    background: white;
  }
  header.visible {
    display: block;
  }

  .logo {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .mobile-btn {
    display: flex;
  }
  .mobile-btn.hidden {
    display: none;
  }

  section {
    scroll-margin-top: 0;
  }

  .gallery {
    margin: 5rem auto 4rem;
  }
}
